<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление сотрудника</title>
    <header th:replace="index :: head"></header>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center mb-4">Добавление сотрудника</h2> <!-- Заголовок по центру -->
    <div class="row">
        <div class="col-md-12">
            <!-- Форма для добавления нового сотрудника -->
            <form th:action="@{/employees/save}" th:object="${employee}" method="post">
                <div class="mb-3">
                    <label class="form-label">ID сотрудника:</label>
                    <input type="number" class="form-control" th:field="*{employee_id}" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">ФИО:</label>
                    <input type="text" class="form-control" th:field="*{employee_name}" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Дата рождения:</label>
                    <input type="text" class="form-control" th:field="*{date_of_birth}" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Email:</label>
                    <input type="email" class="form-control" th:field="*{email}" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Телефон:</label>
                    <input type="text" class="form-control" th:field="*{phone_number}" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Дата приема на работу:</label>
                    <input type="text" class="form-control" th:field="*{hire_date}" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Должность:</label>
                    <input type="text" class="form-control" th:field="*{job_title}" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Отдел:</label>
                    <input type="text" class="form-control" th:field="*{department}" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Заработная плата:</label>
                    <input type="number" class="form-control" th:field="*{salary}" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Кнопка возврата на главную страницу -->
    <div class="text-center mt-3">
        <a href="/employees"><button type="button" class="btn btn-info">Назад</button></a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>